.game-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  background-color: #f8f9fa;
}

.board-container {
  flex: 2;
  background-color: #ffffff;
  border: 2px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.control-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 10px;
  background-color: #ffffff;
  border: 2px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.difficulty-button,
.restart-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #6c757d;
  color: #ffffff;
  border: 1px solid #adb5bd;
  border-radius: 5px;
}

.back-home-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.back-home-button:hover {
  background-color: #495057;
  transform: scale(1.05);
}
